<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="javascripts/functions.js"></script>
    <script src="javascripts/alertInTime.js"></script>


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">

    <div class="masthead-content">

        <div class="container">
            <h3>
                <p class="text-justify">
                BSD
                </p>
                <p class="text-justify">
                My Medications is a convenient, beautiful and user-friendly drug management site. It will help you manage the taking in an easy and safe way. It will also help you help others manage their medications.
                </p>
                <p class="text-justify">
                If you are taking a number of medications, you probably know how complicated it is to manage taking the medications, especially if it is important to take them on time, in the exact amount and dosage. If you are helping a parent, child, patient or friend - you probably know how stressful it is not to know if they are taking the medication on time and in the right amount. Thousands of emergencies a year are due to mistakes in taking medications - they can be easily prevented!
                </p>
                <p class="text-justify">
                My medication has a simple and elegant solution. The site not only helps you remember and manage your medications, but also connects family members / assistants / caregivers to create a "virtual safety net" for taking the medications.
                </p>
                <p class="text-justify">
                When it comes time to take the app will remind you to take the medication. If you forget she will keep mentioning. After a period, if you have decided to do so, the site can alert a family member and thereby prevent unnecessary emergencies.
                </p>
                <p class="text-justify">
                I have reduced the stress of taking medication for you and your family. Sign up for the site now.
                </p>
                <p class="text-justify">
                The site includes:
                </p>
                <p class="text-justify">
                <ul class="list-group list-group-flush">
                    <li class="text-justify">Drug management is smart, visual and very simple </li>
                    <li class="text-justify">Reminds you of time </li>
                    <li class="text-justify">If you forget, alert a family member / friend according to your decision</li>
                    <li class="text-justify">See a list of medications taken today</li>
                    <li class="text-justify">Remind you when it's time to renew a prescription / purchase more medications</li>
                    <li class="text-justify">Allows taking "on demand"</li>
                </ul>
                </p>
            </h3>

        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">calanit &copy; madar</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
